

@media screen and (min-width:1000px) {
//header
header{
    .download {
      display: flex;
      }
 }


 //Home

.home-contenido-variado{
    padding-right: 20%;
}

.botones-jugar{
  flex-wrap: nowrap;
  width: 100%;  
}
.boton-trailer, .boton-jugar{
    width: 25%;
}
.boton-mas-info{
    width: clamp(25%,calc(2.1vw + 1rem), 30rem);
    &-secundario{
        width: clamp(50%,calc(2.1vw + 1rem), 30rem);
    }
}

//mapa
.mapa-contenedor{
    display: flex;
    width: 100%;
    padding: 4% 2%;
}
}