/* mapas*/
@import "variables";
@import "mixin";

/* mapas*/
.mapa-contenedor-titulo{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.mapa-contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    gap: 1rem;
}
.mapa-box{
    flex: 1;
    overflow: hidden;
    width: 100%;
    transition: 0.5s;
    margin: 0 .5%;
    box-shadow: 0px 4px 8px #ccc;
    background-color: $color-text;
    img{
        width: 100%;
        height: calc(100%-10vh);
        object-fit: cover;
        transition: 1.5s;
    }
    &:hover{
        flex: 1 1 50%;   
    }
    &:hover img{
        width: 100%;
    }
    .nombre-mapa{
        font-size: clamp(1rem,calc(2.1vw), 2rem);
        display: block;
        margin: 1rem;
        text-align: center;
        height: 10vh;
        line-height: 2.5;
    }
}


.titulo-mapas {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5em;
}
.subtitulo-mapas, .mapa-mas-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
     
}
.mapa-mas-info-boton{
    @include boton;
    &:hover{
        color: $color-text;
    }
}


main div {
        .mapa-imagen{
        min-height: 400px;
        object-fit: cover;
        transition: 0.25s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}
    
@media screen and (min-width:700px) {
    .mapa-contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 2rem;
    }
    
}
@media screen and (min-width:1000px) {
    .mapa-contenedor{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 4% 2%;
        height: 50%;
    }
    
}
