/* mapas*/
@import "variables";
@import "mixin";

/* mapas*/
.main-mapas{
    background: url(../img/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.mapa-contenedor-titulo{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}

.mapa-contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    gap: 1rem;
}

.mapa-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    margin: 0 .5%;
    box-shadow: 0px 4px 8px #ccc;
    background-color: $color-text;
    img{
        width: 100%;
        height: 100%;
        min-height: 400px;
        object-fit: cover;
        transition: 2.5s ease-out;
        
    }
    &:hover{
        flex: 1 1 50%;   
    }
    &:hover img{
        width: 100%;
    }
}
.mapa-parrafo{
    font-size:clamp(1rem,calc(1vw + 0.5rem), 1.5rem) ;
    padding: 1rem;
    margin: 0;
    height: 300px;
    border-top: 3px solid $color-text-secundario;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}        

.mapa-nombre{
    font-size:clamp(1.5rem, calc(1vh + 0.7rem), 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    line-height: 1.5;
    padding-top: 2rem;
}

.titulo-mapas {
    padding: 2rem;
    text-align: center;
    font-size: clamp(1.5rem, calc(3vh + 0.7rem), 2rem);
}
.subtitulo-mapas, .mapa-mas-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(1rem, calc(1vh + 0.7rem), 1.5rem);
    padding: 0 2rem;
}

.mapa-mas-info-boton{
    @include boton;
    &:hover{
        color: $color-text;
        
    }
}

