/* mapas*/
@import "variables";
@import "mixin";

/* mapas*/
.mapa-contenedor-titulo{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.mapa-contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    }
    // margin: 1rem 3rem 6rem 3rem;
.nombre-mapa{
    text-align: center;
}

.titulo-mapas {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5em;
}
.subtitulo-mapas, .mapa-mas-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
     
}
.mapa-mas-info-boton{
    @include boton;
    &:hover{
        color: $color-text;
    }
}


main div {
        .mapa-imagen{
        max-width: 100%;
        min-height: 400px;
        object-fit: cover;
        transition: 0.25s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    h3{
        font-size: 1/5rem;
        padding: 1rem;
    }
}
    


/*mq de mapas*/
@media screen and (min-width:700px) {
    .mapa-contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 2fr);
        padding: 2rem;
    }
    
}
@media screen and (min-width:1000px) {
    .mapa-contenedor{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 2rem;
    }
    
}