@mixin boton{
    display: flex;
    background-color: $color-boton;
    font-family: custom-font;
    color: $color-text;
    margin: 1rem;
    width: 20rem;
    font-size: 1.2rem;
    height: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem;
}
@mixin home-boton{
    background-color: $color-boton;
    font-family: custom-font;
    text-transform: uppercase;
    color: $color-text;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
}
@mixin home-boton-secundario{
    background-color: $color-boton-secundario;
    font-family: custom-font;
    text-transform: uppercase;
    color: $color-text;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
    &:hover{
        color: $color-hover;
      }
}
@mixin fuente-titulo{
    font-family: duke-fill;
    text-transform: uppercase;
    font-size: clamp(2rem,calc(2.1vw + 1rem), 5rem);
    font-weight: 400;
}
