/* nav styles */
@import "variables";

header {
    background-color: $color-text-secundario;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    .download {
      display: none;
    }
    
  }
  
  .nav-toggle {
    position: absolute;
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: $color-text;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $color-text-secundario;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
          padding-bottom: 1rem;
          padding-left: 1rem;
        }
    }
  }
  
  nav a {
    color: $color-text;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: $color-hover;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  .logo{
      width: 100px;
      padding: 0.8rem;
  }
  
  @media screen and (min-width: 700px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr 1fr minmax(600px, 3fr) 1fr;
      align-items: center;
      justify-items: center;
      gap: 0.5rem;
          .download{
              display: flex;
              background-color: $color-boton;
              font-family: 'Work Sans', sans-serif;
              color: $color-text;
              font-size: 1.2rem;
              height: 50%;
              padding: 1rem;
              justify-content: center;
              align-items: center;
              border-radius: 3px;
              text-decoration: none;
              &:hover{
                color: $color-text;
              }
          }
          .logo {
              width: 100px;
            }
          nav{
              position: relative;
              text-align: center;
              transition: none;
              transform: scale(1,1);
              background: none;
              top: initial;
              left: initial;
              grid-column: 2 / 4;
              display: flex;
              justify-content: center;
              align-items: center;
              ul{
                  display: flex;
                  height: 100%;
                  li{
                    padding-right: 1rem;
                    padding-bottom: 0;
                  } 
              }
          }
    }
    nav li  {

      display: flex;
      justify-content: center;
      align-items: center;
      a{
          opacity: 1;
          position: relative;
          
      }
    }
    
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: $color-hover;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }

  @media screen and (max-width: 1000px) {
    header{
      .download {
        display: none;
        }
    }
      
  }