@import "variables";

header {
    background-color: $color-text-secundario;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1rem 0 1rem 0;
    .download {
      display: none;
    }
    
  }
  
  .nav-toggle {
    position: absolute;
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: $color-text;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $color-text-secundario;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
          padding-bottom: 1rem;
          padding-left: 1rem;
        }
    }
  }
  
  nav a {
    color: $color-text;
    text-decoration: none;
    font-family: duke-fill;
    font-size: clamp(20px,calc(2.8vw + 1rem), 30px);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: $color-hover;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  .logo{
      width: 100px;
      padding: 0.8rem;
  }
  
