@import "variables";

@media screen and (min-width:600px) {
    //navbar
    header{
        .download {
        display: none;
        }
    }

    //Home

    .carta{
        aspect-ratio: auto;
    }
    .home-contenido{
        background-color: transparent;
        align-self: center;
        &-variado{
            margin-right: 3rem;
        }
    }
    .home-img{
        &-uno{
            aspect-ratio: auto;
            object-fit: cover;
            height: 100%;
        }
            
        &-dos{
            height: 100%;
            object-fit: cover;
        }
        
    }
    .home-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            border: none;
        }   
    .stacked-variado{
    justify-items: flex-end;
    width: 100%;

}

//mapa
.mapa-contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
}

}


