@import "variables";
@import "mixin";

.ontenedor-flex-tienda {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.intro-tienda{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contenedor-texto-tienda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 2rem;
}
.titulo-tienda, .parrafo-principal-tienda{
    line-height: 2rem;
    text-transform: uppercase;
    color: $color-text;
    // text-transform: bold;
    
}
.subtitulo-tienda{
    text-transform: uppercase;
    margin-top: 1rem;
    // margin-left: 2rem;
    font-size: 2em;
    text-transform: bold;
    text-align: start;
    padding: 0 2rem 0 2rem;
}
.tienda-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.tienda-img-principal{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-height: 500px;
}

.contenedor-tienda{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 4fr);
    gap: 1rem;
    margin: 1rem 3rem 6rem 3rem;
}
.producto-uno{
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
}
.producto-precio{
    text-align: center;
    font-size: 0.1rem;
}
/*mq de tienda*/

@media screen and (min-width:700px) {
    .contenedor-tienda{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    } 
}
@media screen and (min-width:1000px) {
    .contenedor-tienda{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    } 
}