$color-text: #f3f3f3;
$color-text-secundario: #161616;
$color-boton:#DA292A;
$color-boton-secundario: #f3f3f3;
$color-hover:#DA292A;
$footer-color: #161616;
$color-bg: rgb(3, 3, 3);
$color-bg-secundario:#081422;
$spacer-height-mobile: 24vh;
$fuente-titulo: duke-fill;
$fuente-general: custom-font;
$background-parrafo: rgba(0,0,0, 0.4);

