@import "pages/navbar";
@import "pages/footer";
@import "pages/home";
@import "pages/mapas";
@import "utilities/variables";
@import "utilities/mixin";
@import "pages/competir";
@import "pages/tienda";
@import "pages/modos";
@import "pages/tablet";
@import "pages/desktop";


@font-face{
    font-family: custom-font;
    src: url(../fonts/custom-font.woff2);
}
@font-face{
    font-family: duke-fill;
    src: url(../fonts/duke-fill.otf);
}

//Reset
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: custom-font;
    font-weight: 500;
}


body{
	margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    margin: 0;
}


