@import "navbar";
@import "footer";
@import "home";
@import "mapas";
@import "variables";
@import "mixin";
@import "competir";
@import "tienda";
@import "modos";
@import "tablet";
@import "desktop";


@font-face{
    font-family: custom-font;
    src: url(../fonts/custom-font.woff2);
}
@font-face{
    font-family: duke-fill;
    src: url(../fonts/duke-fill.otf);
}

//Reset
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: custom-font;
    font-weight: 500;
}


body{
	margin: 0;
    padding: 0;
	background: url(../img/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
h1,h2,h3,p{
    margin: 0;
}


